In [3]:
# Imports
import refinitiv.dataplatform.eikon as ek
import pandas as pd
import time

import matplotlib.pyplot as plt
import seaborn as sns
import datetime

### Introduction

This notebook explores company clustering opportunities based on ESG performance, using Thomson Reuters datapoints as a baseline.  
We begin by selecting SFDR-related metrics.

##### Setup

In [2]:
# Utils
def get_ric(symbol):
    """
    symbol: the symbol of the company name in your portfolio.  
    Find the best possible RIC match for company names.
    returns: ric if there is a match, or initial company name. 
    """
    possible_rics = ek.json_requests.send_json_request('SymbologySearch',{'symbols': [symbol], 'from': 'ticker', 'to': ['RIC'], 'bestMatchOnly': False})
    try:
        return possible_rics.json().get("mappedSymbols")[0].get("RICs")[0]
    except:
        return symbol
    
def get_isin_from_ric(ric):
    """ 
    Find the ISIN match for your input RIC.
    """
    isin = ek.get_symbology(ric, from_symbol_type="RIC", to_symbol_type="ISIN")
    try:
        return isin.ISIN[0]
    except:
        return "N/A"
    

def get_isin_from_sedol(sedol):
    """ 
    Find the ISIN match for your input sedol.
    """
    isin = ek.get_symbology(sedol, from_symbol_type="SEDOL", to_symbol_type="ISIN")
    try:
        return isin.ISIN[0]
    except:
        return "N/A"
    
def format_df(esg_df, esg_df_bis, year):
    test = esg_df_bis[esg_df_bis.year == year].copy().drop(columns=["year"])
    test.columns = ["Instrument", "Environmental Pillar Score Grade "+str(year), "Environmental Pillar Score "+str(year)]
    return pd.merge(esg_df, test, how="left", left_on="Instrument", right_on="Instrument")

def get_weighted_average(df, metric):
    try:
        df.Weight = df.Weight.str.replace(",",".").astype(float)
        df[metric] = df[metric].str.replace(",",".").astype(float)
        return (df[metric]*df.Weight).sum()
    except:
        return (df[metric]*df.Weight).sum()

In [4]:
app_key = "213f70312b3740cfa9f65def2171d679808d0131"#"467e1d8d1e624dfc834b60e91bba50e474bea063"
ek.set_app_key(app_key)

Download the data. We will extract information for our reference universe, based on its ISIN codes.  
We will first cluster our data using only ESG performance and the field.

In [66]:
input_path = "notebooks/data/" #"../inputs/"
output_path = "output/"
filename = "univers.xls"
universe = pd.read_excel(input_path+filename)

In [67]:
column_names = universe.iloc[10,:]
universe_df = universe.iloc[11:,:].copy().reset_index().drop(columns=["index"])
universe_df.columns = column_names
universe_df = universe_df.iloc[:-6,1:]
universe_df = universe_df.loc[:,:"SEDOL"]

10,Name,Symbol,Country,Market Capitalization (bil) [USD],Industry Name - GICS Sub-Industry,SEDOL
0,APPLE INC,AAPL,USA,2259.7,"Technology Hardware, Storage & Peripherals",2046251
1,MICROSOFT CORP,MSFT,USA,1970.64,Systems Software,2588173
2,AMAZON.COM INC,AMZN,USA,1680.46,Internet & Direct Marketing Retail,2000019
3,ALPHABET INC,GOOGL,USA,1552.96,Interactive Media & Services,BYVY8G0
4,FACEBOOK INC,FB,USA,857.92,Interactive Media & Services,B7TL820

In [69]:
universe_df.head()

10,Name,Symbol,Country,Market Capitalization (bil) [USD],Industry Name - GICS Sub-Industry,SEDOL
0,APPLE INC,AAPL,USA,2259.7,"Technology Hardware, Storage & Peripherals",2046251
1,MICROSOFT CORP,MSFT,USA,1970.64,Systems Software,2588173
2,AMAZON.COM INC,AMZN,USA,1680.46,Internet & Direct Marketing Retail,2000019
3,ALPHABET INC,GOOGL,USA,1552.96,Interactive Media & Services,BYVY8G0
4,FACEBOOK INC,FB,USA,857.92,Interactive Media & Services,B7TL820

In [70]:
universe_df.tail()

10,Name,Symbol,Country,Market Capitalization (bil) [USD],Industry Name - GICS Sub-Industry,SEDOL
2901,REVANCE THERAPEUTICS INC,RVNC,USA,2,Pharmaceuticals,BJFSR99
2902,WORKSPACE GROUP PLC,WKP,GBR,2,Office REITs,B67G5X0
2903,SILK ROAD MEDICAL INC,SILK,USA,2,Health Care Supplies,BGHVXJ7
2904,CREDITO EMILIANO SPA,EMBI,ITA,2,Diversified Banks,7135251
2905,EMPIRE STATE REALTY TR INC,ESRT,USA,2,Diversified REITs,BF321D7

In [73]:
print(f"There are {len(universe)} companies in our universe.")

There are 2923 companies in our universe.

In [74]:
universe_df.columns

Index(['Name', 'Symbol', 'Country', 'Market Capitalization (bil) [USD]',
       'Industry Name - GICS Sub-Industry', 'SEDOL'],
      dtype='object', name=10)

In [115]:
universe_df["ISINS"] = isins

In [120]:
output_path = "notebooks/output/"
universe_df.to_csv(output_path+"universe_df.csv")

First, let us explore the data.

In [104]:
sedols = [str(sedol) for sedol in universe_df.SEDOL]

In [105]:
isins = [get_isin_from_sedol(sedol) for sedol in sedols]

In [124]:
fields = [
    
]

In [123]:
%%time
data, err = ek.get_data(instruments = isins, fields=fields)

CPU times: user 31.9 ms, sys: 0 ns, total: 31.9 ms
Wall time: 6.03 s

In [103]:
universe_df["Instrument"] = data.Instrument
out = pd.merge(univers, esg_df, how="left", left_on="Instrument", right_on=["Instrument"])

     Instrument        GICS Sector Name
0  US0378331005  Information Technology

In [79]:
# repartition by country

In [85]:
universe_df.Country.value_counts() / universe_df.Country.value_counts().sum()*100

USA    61.631108
GBR     8.430833
CAN     5.230557
DEU     4.026153
FRA     3.785272
SWE     3.269098
CHE     2.924983
ITA     2.030282
NLD     1.479697
ESP     1.410874
NOR     1.135582
DNK     1.032347
BEL     0.929112
FIN     0.929112
AUT     0.688231
IRL     0.309704
GRC     0.309704
LUX     0.206469
PRT     0.206469
ISL     0.034412
Name: Country, dtype: float64

In [86]:
universe_df["Industry Name - GICS Sub-Industry"].value_counts() / universe_df["Industry Name - GICS Sub-Industry"].value_counts().sum()*100

Application Software          3.819683
Biotechnology                 3.097041
Regional Banks                3.062629
Industrial Machinery          2.959394
Diversified Banks             2.271163
                                ...
Consumer Electronics          0.068823
Housewares & Specialties      0.034412
Precious Metals & Minerals    0.034412
Marine Ports & Services       0.034412
Oil & Gas Drilling            0.034412
Name: Industry Name - GICS Sub-Industry, Length: 157, dtype: float64

In [ ]:
universe_df["Industry Name - GICS Sub-Industry"]

In [78]:
# reference universe isins
sedols = [str(sedol) for sedol in univers.SEDOL]
isins = [get_isin_from_sedol(sedol) for sedol in sedols]

In [125]:
sfdr_metrics = {
    'TR.GICSSector': 'GIC_Sector',
    'TR.NACEClassification': 'NACE_Sector',
    'TR.CO2EmissionTotal': "GHG Emissions",
    'TR.CO2DirectScope1': "GHG Emissions",
    'TR.CO2IndirectScope2': "GHG Emissions",
    'TR.CO2IndirectScope3': "GHG Emissions",
    'carbon_footprint': "GHG Emissions",
    'TR.AnalyticCO2': "GHG Emissions",
   # 'TR.EnergyUseTotal':"Energy Efficiency",
    'TR.AnalyticTotalRenewableEnergy':"Energy Efficiency", # il faut faire 1-ça
    'TR.AnalyticEnergyUse':'Energy Efficiency', # globally and by NACE sector, GJ/M$
    'TR.BiodiversityImpactReduction':"Biodiversity", # does the company monitor its impact
    'TR.AnalyticDischargeWaterSystem':"Water", # ton emissions / $M
    'TR.HazardousWaste': "Waste",
    'TR.WasteTotal':'Waste', # to get non recycled waste
    'TR.WasteRecycledTotal':'Waste', 
    'TR.ILOFundamentalHumanRights': 'Social and Employee Matters',
    'TR.GenderPayGapPercentage':'Social and Employee Matters', # women to men
    'TR.AnalyticSalaryGap':'Social and Employee Matters', # to average, should be median
    'TR.AnalyticBoardFemale': 'Social and Employee Matters', 
    'TR.WhistleBlowerProtection': 'Social and Employee Matters',
    'TR.AccidentsTotal': 'Social and Employee Matters', # proxy for accidents
    'TR.AnalyticHumanRightsPolicy': 'Social and Employee Matters',
    'TR.CriticalCountry1': 'Social and Employee Matters', # as a proxy for operations at risk of child or forced labour
    'TR.CriticalCountry2': 'Social and Employee Matters', # as a proxy for operations at risk of child or forced labour
    'TR.CriticalCountry3': 'Social and Employee Matters', # as a proxy for operations at risk of child or forced labour
    'TR.CriticalCountry4': 'Social and Employee Matters', # as a proxy for operations at risk of child or forced labour
    'TR.AntiPersonnelLandmines':'Social and Employee Matters', # anti personnel landmines
    'TR.PolicyBriberyCorruption': 'Anti-corruption and Anti-bribery',
    'TR.AnalyticBriberyFraudControv':'Anti-corruption and Anti-bribery',
}

We are missing data on:  
- Biodiversity. Red List species / adjacent to sites. 
- Deforestation
- Water stress, untreated discharged waste water
- Due diligence on human rights, human trafficking  
- Number of convictions for anti-corruption

In [ ]:
# fossil fuel sector exposure à faire avec les GICs
#

In [128]:
metrics = list(sfdr_metrics.keys())

In [130]:
esg_df, err = ek.get_data(instruments = isins, fields=metrics)

In [ ]:
esg_df = esg_df.rename(columns = {"Instrument":"ISIN"}).copy()

In [131]:
esg_df

,Instrument,GICS Sector Name,NACE Classification,CO2 Equivalent Emissions Total,"CO2 Equivalent Emissions Direct, Scope 1","CO2 Equivalent Emissions Indirect, Scope 2","CO2 Equivalent Emissions Indirect, Scope 3",CARBON_FOOTPRINT,Total CO2 Equivalent Emissions To Revenues USD in million,Total Renewable Energy To Energy Use in million,...,"Board Gender Diversity, Percent",Whistleblower Protection,Accidents Total,Human Rights Policy,Critical Country 1,Critical Country 2,Critical Country 3,Critical Country 4,Anti-Personnel Landmines,"Bribery, Corruption and Fraud Controversies"
0,US0378331005,Information Technology,Manufacture of communication equipment (NACE) ...,912676.0,50549.0,862127.0,25751159.0,<NA>,3.507945,839885.385233,...,28.571429,1,<NA>,1,,,,,0,1
1,US5949181045,Information Technology,Other software publishing (NACE) (58.29),4220545.0,118100.0,4102445.0,11407756.0,<NA>,29.511205,952330.474402,...,41.666667,1,<NA>,1,MM,,,,0,1
2,US0231351067,Consumer Discretionary,Retail sale via mail order houses or via Inter...,11260000.0,5760000.0,5500000.0,39908000.0,<NA>,40.139454,NaN,...,50.000000,1,<NA>,1,,,,,0,1
3,US02079K3059,Communication Services,Web portals (NACE) (63.12),5183635.0,66686.0,5116949.0,11669000.0,<NA>,32.026017,959821.037098,...,27.272727,1,<NA>,1,,,,,0,1
4,US30303M1027,Communication Services,Web portals (NACE) (63.12),1816000.0,44000.0,1772000.0,912000.0,<NA>,25.687087,860000.000000,...,28.571429,1,<NA>,1,,,,,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2905,US7613301099,Health Care,Research and experimental development on biote...,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,...,25.000000,1,<NA>,0,,,,,0,0
2906,GB00B67G5X01,Real Estate,Renting and operating of own or leased real es...,9771.0,2620.0,7151.0,603.0,<NA>,48.751034,NaN,...,37.500000,0,0,1,,,,,0,0
2907,US82710M1009,Health Care,Manufacture of pharmaceutical preparations (NA...,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,...,25.000000,1,<NA>,0,,,,,0,0
2908,IT0003121677,Financials,Other monetary intermediation (NACE) (64.19),12587.0,2812.9,9774.1,3314.8,<NA>,6.197906,511064.012313,...,33.333333,1,55,1,,,,,0,0
2909,US2921041065,Real Estate,Renting and operating of own or leased real es...,53106.0,NaN,NaN,NaN,<NA>,72.614355,NaN,...,22.222222,1,<NA>,0,,,,,0,0

In [139]:
universe_df = universe_df.rename(columns={"Insutrument":"Instrument"})

In [140]:
out = pd.merge(universe_df, esg_df, how="left", left_on="Instrument", right_on=["Instrument"])

In [142]:
output_path = "notebooks/output/"
out.to_csv(output_path+"universe_df_full.csv")

In [14]:
# Data preparation

Fill missing datapoints or delete them?